@model RecipeBox.Models.Recipe

<h2>Are you sure you want to delete this Recipe?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@Html.DisplayNameFor(model => model.Ingredients): @Html.DisplayFor(model => model.Ingredients)
@Html.DisplayNameFor(model => model.Instructions): @Html.DisplayFor(model => model.Instructions)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index")