@using RecipeBox.Models;
@model IEnumerable<RecipeBox.Models.Recipe>

<div class="container">
<img id="centeredImage" src=img/recipe.gif>
<h3>Recipes for @User.Identity.Name</h3>

@if (Model.Any())
{
  <ul>
    @foreach (Recipe recipe in Model)
    {
      <li>@Html.ActionLink($"{recipe.Name}", "Details", new { id = recipe.RecipeId })</li>
    }
  </ul>
} 
else
{
  <h3>No Recipes have been added yet!</h3>
}
<table id="table">
  <tr>
    <td>@Html.ActionLink("Add new Recipe", "Create", null, null, new {@class = "myCssClass"})</td>
    <td>@Html.ActionLink("Add new Tag", "Create", "Tags", null, new {@class = "myCssClass"})</td>
    <td>@Html.ActionLink("Home", "Index", "Home", null, new {@class = "myCssClass"})</td>
  </tr>
</table>
</div>