@model RecipeBox.Models.Tag;

<h2>Tag Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Tag does not contain any recipes</p>
}
else
{
  <h4>Recipes the Tag contains:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Recipe.Name</li>
  }
  </ul>
}

<table id="table">
  <tr>
    <td>@Html.ActionLink("Add a Recipe", "AddRecipe", new {id = Model.TagId}, new {@class = "myCssClass"})</td>
    <td>@Html.ActionLink("Back to Tags", "Index", null, null, new {@class = "myCssClass"})</td>
    <td>@Html.ActionLink("Edit Tag", "Edit", new {id = Model.TagId }, new {@class = "myCssClass"})</td>
    <td>@Html.ActionLink("Delete Tag", "Delete", new {id = Model.TagId }, new {@class = "myCssClass"})</td>
  </tr>
</table>